<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Me Component</title>
    <link rel="stylesheet" href="/dwaynesite/public_html/assets/css/style.css">
</head>
<body>
<section>
    <div class="container">
        <article class="about-me">
            <div class="about-me__info-snippet info-snippet">

                <div class="about-me__info-wrapper">
                    <div class="about-me__info-content">
                        <div class="about-me__info-content--wrapper">
                            <span class="about-me__bg-text">04</span>
                            <h3 class="about-me__heading">My role as a developer</h3>
                            <p class="about-me__text">
                                I work at JH as a frontend developer, I love what I do. I am part of the team that's at the forefront of making websites faster for our clients and their users. JH is a Magento platform agency that specialises in being two-step ahead and integrating the latest technologies to make the website we produce industry-leading.
                            </p>
                            <p class="about-me__text">
                                We have produced several award-winning websites and are currently leading the charge of establishing Progressive Web Application (PWA) on the Magento Two platform. I feel lucky to be part of a strong team of people that value my expertise, we work collaborative, to achieve success for the whole team.
                            </p>
                        </div>

                        <ul class="about-me__quick-links">
                            <li class="about-me__quick-link"><a href="#frontend">Front-end Developer</a></li>
                            <li class="about-me__quick-link"><a href="#mentor">Mentor</a></li>
                            <li class="about-me__quick-link"><a href="#family">Family Man</a></li>
                        </ul>
                    </div>
                    <img class="about-me__img" src="/assets/img/dwayne_sml.jpg" alt="Dwayne Codling">
                </div>
            </div>
        </article>

    </div>
</section>

</body>
</html>