<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Navigation</title>
    <link rel="stylesheet" href="/dwaynesite/public_html/css/style.css">
</head>
<body>
<section>
    <div class="container">

        <div class="hero__content footer__content">
            <p class="hero__subheading">got a question?</p>
            <h2 class="hero__heading">I’m always <strong>happy</strong> to help.</h2>
            <a href="#" class="hero__button">
                            <span class="hero__button-content">
                                <span class="hero__button-text">Get in touch</span>
                                <svg class="hero__button-arrow" width="18" height="14"
                                     xmlns="http://www.w3.org/2000/svg"><g transform="rotate(90 8 9)" fill="none"><rect
                                        fill="#FFF" x="5" y="1" width="2" height="16" rx="1"/><path stroke="#FFF"
                                                                                                    stroke-width="2"
                                                                                                    stroke-linecap="round"
                                                                                                    stroke-linejoin="round"
                                                                                                    d="M12 6L6 0 0 6"/></g></svg>
                            </span>
            </a>
        </div>
    </div>
</section>



</body>
</html>