<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Latest Post</title>
    <link rel="stylesheet" href="/dwaynesite/public_html/assets/css/style.css">
</head>
<body>
<section>
    <div class="container">
        <div class="post-heading__wrapper">
            <h2 class="post-heading"><strong>Latest</strong>postings</h2>
            <a class="post-link" href="/posts.html">
                <p class="post-link__text">View all post</p>
                <svg class="post-link__arrow" width="18" height="14" xmlns="http://www.w3.org/2000/svg">
                    <g transform="rotate(90 8 9)" fill="none">
                        <rect fill="#FFF" x="5" y="1" width="2" height="16" rx="1"/>
                        <path stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                              d="M12 6L6 0 0 6"/>
                    </g>
                </svg>
            </a>
        </div>
        <article class="grid grid--card-list">
            <article class="grid__card-item">
                <div class="card">
                    <picture class="card__img-container">
                        <source type="image/jpeg" srcset="/dwaynesite/public_html/assets/img/meet-magento@2x.jpg">
                        <source type="image/webp" srcset="/dwaynesite/public_html/assets/img/meet-magento@2x.webp">
                        <source type="image/webp" srcset="/dwaynesite/public_html/assets/img/meet-magento.webp">
                        <img class="card__img"
                             src="/dwaynesite/public_html/assets/img/meet-magento.jpg"
                             alt="Meet Magento"
                             height="160"
                             width="360"/>
                    </picture>
                    <div class="card__content">
                        <time datetime="2019-09-05" class="card__date">17th June, 2019</time>
                        <h3 class="card__header">Meet Magento</h3>
                        <p class="card__text">Look up at the night sky, and find yourself
                            <strong>immersed</strong> in
                            the
                            amazing mountain range of Aspen. </p>

                    </div>
                    <time  datetime="PT4M" class="card__read-time">
                        4 min read
                    </time>
                </div>
            </article>
            <article class="grid__card-item">
                <div class="card">
                    <picture class="card__img-container">
                        <source type="image/jpeg" srcset="/dwaynesite/public_html/assets/img/css-day-2019@2x.jpg">
                        <source type="image/webp" srcset="/dwaynesite/public_html/assets/img/css-day-2019@2x.webp">
                        <source type="image/webp" srcset="/dwaynesite/public_html/assets/img/css-day-2019.webp">
                        <img class="card__img"
                             src="/dwaynesite/public_html/assets/img/css-day-2019.jpg"
                             alt="CSS Day 2019"
                             height="160"
                             width="360"/>
                    </picture>
                    <div class="card__content">
                        <time datetime="2019-09-05" class="card__date">14th June, 2019</time>
                        <h3 class="card__header">CSS Day</h3>
                        <p class="card__text">Capture the stunning <strong>essence</strong> of the early morning
                            sunrise
                            in
                            the Californian wilderness.</p>
                    </div>
                    <time datetime="PT4M" class="card__read-time">
                        4 min read
                    </time>
                </div>
            </article>
            <article class="grid__card-item">
                <div class="card">
                    <picture class="card__img-container">
                        <source type="image/jpeg" srcset="/dwaynesite/public_html/assets/img/pixel-pioneers@2x.jpg">
                        <source type="image/webp" srcset="/dwaynesite/public_html/assets/img/pixel-pioneers@2x.webp">
                        <source type="image/webp" srcset="/dwaynesite/public_html/assets/img/pixel-pioneers.webp">
                        <img class="card__img"
                             src="/dwaynesite/public_html/assets/img/pixel-pioneers.jpg"
                             alt="Pixel Pioneers"
                             height="160"
                             width="360"/>
                    </picture>
                    <div class="card__content">
                        <time datetime="2019-09-05" class="card__date">7th June, 2018</time>
                        <h3 class="card__header">Pixel Pioneers</h3>
                        <p class="card__text">Sunsets over the <strong>stunning</strong> Utah Canyonlands, is
                            truly
                            something much more than incredible.</p>
                    </div>
                    <time datetime="PT4M" class="card__read-time">
                        4 min read
                    </time>
                </div>
            </article>
        </article>
    </div>
</section>
</body>
</html>