<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Navigation</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav class="navigation">
    <div class="container navigation__container">
        <a class="navigation__logo" href="home">DwayneCodling.</a>
        <ul class="navigation__links">
            <li class="navigation__link"><a href="about.html">About me</a></li>
            <li class="navigation__link"><a href="post.html">My posts</a></li>
            <li class="navigation__link link--alt"><a href="contact.html">Contact</a></li>
        </ul>
    </div>
</nav>

</body>
</html>
