.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;

  &__content {
    text-align: center;
    padding: 0;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-2')) {

    }

  }

  &__subheading {
    font-size: 1.4rem;
    font-weight: lighter;
    text-transform: uppercase;
    margin-bottom: .4rem;
  }

  &__heading {
    font-size: var(--heading-1);
    font-weight: lighter;

    max-width: 54rem;
    margin: 0 auto  $padding-large;
    @media screen and (min-width: map-get($breakpoints, 'breakpoint-2')) {
      margin-bottom: 3.5rem;
    }
  }

  &__link {
    font-size: var(--heading-1);
    font-weight: 900;
    text-decoration: none;
    color: $color-white;
    &:hover {
      text-decoration: none
    }
  }

  &__button {
    display: inline-block;
    color: #fff;
    font-size: 1.4rem;
    text-decoration: none;
    background-color: #383737c2;
    padding: $padding-small;
    border-radius: 3rem;
    transition: .2s background-color;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-2')) {
      font-size: 1.6rem;
      padding: $padding-small $padding-medium-1;
    }

    &:hover {
      background-color: darken($color-primary-gold, 2%);
    }
  }

  &__button-content {
    display: flex;
    align-items: center;
  }

  &__button-text {
    font-weight: 500;
  }

  &__button-arrow {
    display: block;
    margin-left: 1.2rem;
    transform: scale(1);

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-2')) {
      margin-left: 1.5rem;
      transform: scale(1.2);
    }
  }

  &__down-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    border: .2rem solid #fff;
    border-radius: 50%;
    margin-top: 8rem;
    height: 6rem;
    width: 6rem;
    transition: $transition;

        &:hover {
           border: .4rem solid #fff;
        }

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-2')) {
      bottom: 6rem;
    }
  }
}

.hero__social-link {
  display:block;
  width: 24px;

  &:not(:last-of-type) {
    margin-right: 3rem;
  }
}

.hero__contact {

}

.hero__contact--container {
  max-width: calc(var(--container) + 40rem);
  margin: 0 auto;
}

.hero__contact-wrapper {
  display: none;
  @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
    display: flex;
    padding: 0;
    justify-content: space-between;
    width: calc(100% + 108px);
    align-items: center;
  }
}

.hero__contact--position {

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
    position: relative;
    top: 289px;
  }

}

.hero__social-links {

}

.hero__social-link {
  &:not(last-of-type) {
    margin-bottom: 2rem;
  }
}

.hero__social-link--text {
  font-size: $nav-text-default;
  text-decoration: none;
  color: $color-white;
  transform: rotate(-90deg);
}