<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Me</title>
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/assets/css/style-v1.min.css">
</head>
<body>
<%- include("../partials/nav") %>

<main class="content" role="main">
    <%- include("../partials/know_more") %>

    <section>
        <div class="container">
            <article class="about-me">
                <div class="about-me__info-snippet info-snippet">

                    <div class="about-me__info-wrapper">
                        <div class="about-me__info-content">
                            <div class="about-me__info-content--wrapper">
                                <span class="about-me__bg-text">04</span>
                                <h3 class="about-me__heading">My role as a developer</h3>
                                <p class="about-me__text">
                                    I work at JH as a frontend developer, I love what I do. I am part of the team that's at the forefront of making websites faster for our clients and their users.
                                </p>
                                <p class="about-me__text">
                                    We have produced several award-winning websites and are currently leading the charge of establishing Progressive Web Application (PWA) on the Magento Two platform.
                                </p>
                            </div>

                            <ul class="about-me__quick-links">
                                <li class="about-me__quick-link"><a href="#frontend">Front-end Developer</a></li>
                                <li class="about-me__quick-link"><a href="#mentor">Mentor</a></li>
                                <li class="about-me__quick-link"><a href="#family">Family Man</a></li>
                            </ul>
                        </div>
                        <img class="about-me__img" src="/assets/img/dwayne_sml.jpg" alt="Dwayne Codling">
                    </div>

                    <div class="about-me__details">
                        <h3 id="frontend" class="about-me__heading">How did you get into being a Front-end Developer?</h3>

                        <p  class="about-me__text">
                            It was when at University, doing a Multimedia course that I gravitated toward web design and
                            development. There I learnt a little about Front-end, and over the years I’ve done several
                            Front-end projects that I’ve always enjoyed.
                        </p>

                        <p class="about-me__text"> While being a Lecturer of Media at New College Nottingham I delivered on
                            several web modules to
                            students. I practised by doing freelance jobs using modern best practice, all so that I was
                            confident in teaching the students real-time knowledge that’d set them up best for getting jobs
                            out there.
                        </p>

                        <h3 class="about-me__heading"> What made you make the switch from college to agency life? </h3>

                        <p class="about-me__text"> Lecturing was great for me, it gave me time to develop my skills, I made
                            some lifelong friends,
                            and was able to start a small web design development practice with a couple of my
                            colleagues.
                        </p>

                        <p class="about-me__text"> But, I felt it was the right time to make a change: My personal life had
                            taken some fairly
                            exciting turns – in that time I’d become engaged, and my partner and I had our second child. In
                            honesty, I wanted to be more, and do more, for my family.
                        </p>

                        <p class="about-me__text"> Lecturing felt like a hard slog sometimes. Being able to inspire young
                            people was amazing,
                            something I’ll always feel passionate about. But obviously, that’s sometimes hard to do as a
                            lecturer. When we had designers from JH in to speak– the students were so inspired, without
                            exaggerating, for some of them it was pretty life-changing.
                        </p>

                        <p class="about-me__text"> Now I’m working here I feel I’ll be able to do more for the young people
                            wanting to enter this
                            industry. It gives me a unique perspective on seeing it from both sides: both lecturing and
                            working in an agency. I would really like to help to bridge the gap of what is expected from
                            students leaving education wanting to enter into a role like this. I’d really like to help JH
                            extend further into helping students get into the industry – there's definitely plenty of
                            opportunities to do so here.
                        </p>

                        <h3 class="about-me__heading">
                            What drew you to JH as a place to work?
                        </h3>

                        <p class="about-me__text"> JH is quite different from other agencies. Its commitment to the
                            community, seen by DXN, the event it runs, the support it gives to universities and colleges,
                            and a whole lot more – for me, that really sets it apart. Like so many in Nottingham, I’ve
                            always seen it as being somewhere I’d love to work sometime.
                        </p>

                        <p class="about-me__text"> I’d been thinking about moving into full-time web development recently
                            after learning so much: I
                            knew I was now skilled enough and felt confident in my ability to learn more, so there was
                            nothing stopping me going for it.
                        </p>

                        <p class="about-me__text"> I just needed to find a company that was aligned to my career
                            progression, attitude towards
                            education – with creative, fun, and highly skilled people to be around, luckily JH was hiring.

                        </p>
                        <h3 class="about-me__heading">How are you finding it here so far?</h3>

                        <p class="about-me__text"> I feel very welcome and everyone has really gone above and beyond to make
                            sure that I’m comfortable. Being the new kid in the office is strange, as I feel like I’m an old
                            face here, having met so many of the team, and have worked with a fair few too – I’ve hot-desked
                            here for my own work plenty of times too.
                        </p>

                        <p class="about-me__text"> Now my hunger to learn more is what's driving me, I realise that there
                            are so many more levels
                            to where I want to go, and in order to get there I need to learn from the best: Some of the best
                            people in the industry work here.
                        </p>

                        <h3 class="about-me__heading"> Have you got any advice for anyone looking for a career in Design /
                            Development?
                        </h3>

                        <p class="about-me__text"> Personally, I think attending the brilliant meet-ups we have in
                            Nottingham for the community is
                            a really great start. JH’s DXN on the second Wednesday of every month, in Nottingham’s Creative
                            Quarter, and it’s a brilliant way to find out more and meet people in the industry.
                        </p>

                        <p class="about-me__text"> In fact, it was December 2016 at DXN that change my mindset completely,
                            it was a talk from designer
                            Gareth Strange, it was called “change is good”. That hit a chord, and I felt like he was talking
                            directly to me. After that, I decided to give it my all, applying for a Front-end Developer job
                            they were advertising for at the time.
                        </p>

                        <p class="about-me__text"> Just remember life is short, if you want to be in the industry, be in the
                            industry – go to the
                            events, put in the groundwork, so that you’re ready when the opportunity comes.
                        </p>
                        <h3 id="family" class="about-me__heading">We don't then tell people how we feel and why we feel that way. So here goes.<br>
                            The why:
                        </h3>
                        <p class="about-me__text">So I grew up in a below middle-class neighbourhood in Portmore, Jamaica, the situation growing up in a household where my mom and my dad were not fully educated was not the worst but was not the best, there were limitations on what they could do for us as children.</p>
                        <p class="about-me__text">My mom left education when she was 13 when she became pregnant and my dad left education at about the age of 11. </p>
                        <p class="about-me__text">My dad had to work to help his family out as he was the oldest boy. </p>
                        <p class="about-me__text">Despite that crushing start in life, they both worked very hard and by the time I was born our family situation was a lot better. </p>
                        <p class="about-me__text">I grew up seeing my mom working as a machinist at a garment factory and my dad working as a handyman at the local radio station, so I had a very humble beginning. </p>
                        <p class="about-me__text">My parents saved enough to buy a small 2 bedroom house in South-borough, Portmore, Jamaica.</p>
                        <p class="about-me__text">I grew up with 1 brother and 3 sisters, we shared everything, and as a child I was happy. </p>
                        <p class="about-me__text">I was none the wiser and I didn't know I was poor until the age of 8 as I just made do with whatever I got. </p>
                        <p class="about-me__text">I knew I was poor for the first time at the age of 8 when I visited a friend's house whose parents were both successful. </p>
                        <p class="about-me__text">His mom was a leading scientist/dermatologist who owns her own cosmeceutical company and his dad was a senior accountant at a financial institution.</p>
                        <p class="about-me__text"> He lived in a two-story house, 4 bedrooms and 2 bathrooms, and he was the only child.</p>
                        <p class="about-me__text">It was just luck really that we were attending the same primary school in the area at the same time, that we became friends.</p>
                        <p class="about-me__text">What I learnt at the age of 8 is that my family was in a less desirable place because of the cards that you are dealt in life.</p>
                        <p class="about-me__text">Education or being an athlete was the only way to get out of this situation. I would have to work hard with my limited resources.</p>
                        <p class="about-me__text"> I learnt as well that having other people to help, who help you along the way, would be more beneficial to uplift myself from my situation and progress to a more joyous life.</p>
                        <p class="about-me__text"> People who already had this backing in place were already in an advantageous situation than me.</p>
                        <p class="about-me__text">At high school, I did this by smartly pooling together money with friends and buying meals that we could share.</p>
                        <p class="about-me__text">I also due to me being friends with older students, I was able to get their second-hand books at a reduced cost or for free.</p>
                        <p class="about-me__text">Still, though, the best I could do was to get to the university level and the was faced with the reality that I was just not the type of person that could afford University.</p>
                        <p class="about-me__text">In Jamaica, only 3% of the entire country was able to get a university education.</p>
                        <p class="about-me__text">Where I came from there was no one from my area that could attend if not awarded a scholarship because they were an athlete or stupidly intelligent, my community was not made up of affluent people.</p>
                        <p class="about-me__text">So I went to work at age 18, working as an accounts payable clerk, at a public utility company in Jamaica, the National Water Commission where once again, I met people in higher positions who went to university and were highly sought after to work in prime positions due to them having Engineering degrees. </p>
                        <p class="about-me__text">And that frankly could have been where my story ends, it was a job that paid enough so you could pay the fare back to work and just enough for lunch and a bit left to pay a household bill to help the family out. </p>
                        <p class="about-me__text">Luckily I had people who saw me and felt I could make more of myself if my situation was a bit better.</p>
                        <p class="about-me__text">I was wasting away in a job that was not going anywhere. </p>
                        <p class="about-me__text">I saved up enough money for airfare and got enough money for a 1-month school fee from my dad and took a leap of faith leaving the place I grew up at age 20 and coming to England.</p>
                        <p class="about-me__text">It was the kindness of strangers that helped me, people who weren't family but provided me with a place to stay while I could go to college and work. </p>
                        <p class="about-me__text">I was able to get by because of these people the sums add up, barely. I made £500 a month from working in a call centre, as much as I could work, and stocking shelves at night.</p>
                        <p class="about-me__text">My college fees were £400 a month and I added only £100 to pay for food and necessities for the month.</p>
                        <p class="about-me__text">These are my humble beginnings.</p>
                        <p class="about-me__text">These are my reasons why, now let's talk about the who, who is this for.</p>
                        <p class="about-me__text">So most parents want their children to have a better life than they have had. </p>
                        <p class="about-me__text">My mom and dad would say that they achieved this, especially when looking at where I am now.</p>
                        <p class="about-me__text"> Now that I am a parent I realise how difficult and hard my life could become and depend on what cards you are dealt in life, circumstances, faith and luck, determines if you will be successful at life.</p>
                        <p class="about-me__text">Having great family support, having good friends, good education, money doesn't guarantee anything.</p>
                        <p class="about-me__text">Some would say starting with nothing and having to fight your way out of poverty is the best way of always wanting to do more and not being spoiled because you have been given everything.</p>
                        <p class="about-me__text">Hold that thought...</p>
                        <p class="about-me__text">So it took me 18 years since I have been in England to get to where I am. </p>
                        <p class="about-me__text">I have come to realise that there is only so far I can go without the support of others and a good start and hard work.</p>
                        <p class="about-me__text">What I want is to support my family and kids so they can make all their dreams and goals come through.</p>
                        <p class="about-me__text">I want to put them in the best place so they have the advantage to do what they want to.</p>
                        <p class="about-me__text">It's that simple.</p>
                        <p class="about-me__text">So back to the why…</p>
                        <p class="about-me__text">Being a black man there are certain prejudices that you face, some are blatant and you can manoeuvre your way through these.</p>
                        <p class="about-me__text"> But the silent prejudices or the institutionally ingrained one makes it hard to bypass. And sometimes stop you from progressing.</p>
                        <p class="about-me__text">The chips are not stock up in a black man's favour the higher up we go it's the tougher and lonely the road is.</p>
                        <p class="about-me__text">I feel like Danté and André will have to travel this road as well despite being half-white they won't be considered as such and both of them will be thought of as black boys or mixed at best.</p>
                        <p class="about-me__text">People have certain assumptions that grow from being on social media, depiction by the media and just not being educated enough or just because they feel threatened.
                        <p class="about-me__text">Due to the area that you come from, the type of home you come from or the way you came into this world.</p>
                    </div>

                </div>
            </article>

        </div>
    </section>

</main>

<%- include("../partials/footer") %>

</body>
</html>