<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Latest Post</title>
    <%- include("../partials/links") %>
</head>
<body>
<%- include("../partials/nav") %>
<main class="content" role="main">

    <section>

        <div class="container">
            <div class="hero__content footer__content">
                <p class="hero__subheading">What I'm Thinking</p>
                <h2 class="hero__heading">An <strong>insight</strong> into my journey</h2>
            </div>
        </div>
    </section>

    <section class="card-wrapper">
        <div class="container">
            <div class="my-posts__filter--mobile">
                <label class="my-posts__filter--label" for="track-select">View all or Events or Notes</label>
                <div class="my-posts__filter" data-filter-mobile="speaker_track">
                    <select id="track-select" class="my-posts__select" name="field" data-ui="0" data-ajax="0" data-multiple="0" data-placeholder="Select" data-allow_null="0">
                        <option value="all">all</option>
                        <option value="events">events</option>
                        <option value="notes">notes</option>
                    </select>
                </div>
            </div>
            <ul class="my-posts__filter--desktop">
                <li class="my-posts__item">View All</li>
                <li class="my-posts__item">Events</li>
                <li class="my-posts__item">Notes</li>
            </ul>
            <div class="grid grid--card-list">
                <article class="grid__card-item">
                    <a href="/post/we-dont-tell-people-post" class="card">
                        <picture class="card__img-container">
                            <source type="image/jpeg" data-srcset="/assets/img/dwayne-and-dante-720x320.jpg">
                            <source type="image/webp" data-srcset="/assets/img/dwayne-and-dante-360x160.webp">
                            <source type="image/webp" data-srcset="/assets/img/dwayne-and-dante-720x320.webp">
                            <img class="card__img lazyload"
                                 data-src="/assets/img/dwayne-and-dante-360x160.jpg"
                                 alt="Dwayne and family"
                                 height="160"
                                 width="360"/>
                        </picture>
                        <div class="card__content">
                            <time datetime="2020-14-06" class="card__date">14th June, 2020</time>
                            <h3 class="card__header">The Why</h3>
                            <p class="card__text">We <strong>don't tell</strong>
                                people how we feel and why we feel that way. So, here goes:
                            </p>
                        </div>
                        <time  datetime="PT10M" class="card__read-time">
                            10 min read
                        </time>
                    </a>
                </article>
                <article class="grid__card-item">
                    <a href="/post/tech-nottingham-post" class="card">
                        <picture class="card__img-container">
                            <source type="image/jpeg" data-srcset="/assets/img/tech-nottingham@2x.jpg">
                            <source type="image/webp" data-srcset="/assets/img/tech-nottingham@2x.webp">
                            <source type="image/webp" data-srcset="/assets/img/tech-nottingham.webp">
                            <img class="card__img lazyload"
                                 data-src="/assets/img/tech-nottingham.jpg"
                                 alt="Meet Magento"
                                 height="160"
                                 width="360"/>
                        </picture>
                        <div class="card__content">
                            <time datetime="2020-08-06" class="card__date">8th June, 2020</time>
                            <h3 class="card__header">Tech Nottingham</h3>
                            <p class="card__text">The talk will focus on the
                                <strong> generational wealth gap</strong> in
                                and how this facilitates a difference in circumstances between different races. </p>
                        </div>
                        <time  datetime="PT35M" class="card__read-time">
                            35 min read
                        </time>
                    </a>
                </article>
                <article class="grid__card-item">
                    <a href="/post/design-exchange-march-2020-post" class="card">
                        <picture class="card__img-container">
                            <source type="image/jpeg" data-srcset="/assets/img/dxn-11-mar-2020@2x.jpg">
                            <source type="image/webp" data-srcset="/assets/img/dxn-11-mar-2020@2x.webp">
                            <source type="image/webp" data-srcset="/assets/img/dxn-11-mar-2020.webp">
                            <img class="card__img lazyload"
                                 data-src="/assets/img/dxn-11-mar-2020.jpg"
                                 alt="Meet Magento"
                                 height="160"
                                 width="360"/>
                        </picture>
                        <div class="card__content">
                            <time datetime="2019-09-05" class="card__date">11th March, 2020</time>
                            <h3 class="card__header">Design Exchange (DXN) Nottingham</h3>
                            <p class="card__text">Diverse representations
                                <strong> in design</strong> in
                                and awkward conversations with colleagues </p>
                            <p class="card__text">How to keep your
                                <strong> green </strong>onions </p>
                        </div>
                        <time  datetime="PT4M" class="card__read-time">
                            4 min read
                        </time>
                    </a>
                </article>
                <article class="grid__card-item">
                    <a href="/post/meet-magento-post" class="card">
                        <picture class="card__img-container">
                            <source type="image/jpeg" data-srcset="/assets/img/meet-magento@2x.jpg">
                            <source type="image/webp" data-srcset="/assets/img/meet-magento@2x.webp">
                            <source type="image/webp" data-srcset="/assets/img/meet-magento.webp">
                            <img class="card__img lazyload"
                                 data-src="/assets/img/meet-magento.jpg"
                                 alt="Meet Magento"
                                 height="160"
                                 width="360"/>
                        </picture>
                        <div class="card__content">
                            <time datetime="2019-09-05" class="card__date">17th June, 2019</time>
                            <h3 class="card__header">Meet Magento</h3>
                            <p class="card__text">Look up at the night sky, and find yourself
                                <strong>immersed</strong> in
                                the
                                amazing mountain range of Aspen. </p>

                        </div>
                        <time  datetime="PT4M" class="card__read-time">
                            4 min read
                        </time>
                    </a>
                </article>
                <article class="grid__card-item">
                    <a href="/post/css-day-post" class="card">
                        <picture class="card__img-container">
                            <source type="image/jpeg" data-srcset="/assets/img/css-day-2019@2x.jpg">
                            <source type="image/webp" data-srcset="/assets/img/css-day-2019@2x.webp">
                            <source type="image/webp" data-srcset="/assets/img/css-day-2019.webp">
                            <img class="card__img lazyload"
                                 data-src="/assets/img/css-day-2019.jpg"
                                 alt="CSS Day 2019"
                                 height="160"
                                 width="360"/>
                        </picture>
                        <div class="card__content">
                            <time datetime="2019-09-05" class="card__date">14th June, 2019</time>
                            <h3 class="card__header">CSS Day</h3>
                            <p class="card__text">Capture the stunning <strong>essence</strong> of the early morning
                                sunrise
                                in
                                the Californian wilderness.</p>
                        </div>
                        <time datetime="PT4M" class="card__read-time">
                            4 min read
                        </time>
                    </a>
                </article>
                <article class="grid__card-item">
                    <a href="/post/new-adventures-2020-post" class="card">
                        <picture class="card__img-container">
                            <source type="image/jpeg" data-srcset="/assets/img/new-adventures-2019@2x.jpg">
                            <source type="image/webp" data-srcset="/assets/img/new-adventures-2019@2x.webp">
                            <source type="image/webp" data-srcset="/assets/img/new-adventures-2019.webp">
                            <img class="card__img lazyload"
                                 data-src="/assets/img/new-adventures-2019.jpg"
                                 alt="New Adventures Nottingham"
                                 height="160"
                                 width="360"/>
                        </picture>
                        <div class="card__content">
                            <time datetime="2019-09-05" class="card__date">25th Jan, 2019</time>
                            <h3 class="card__header">New Adventures Conference</h3>
                            <p class="card__text">Capture the stunning <strong>essence</strong> of the early morning
                                sunrise
                                in
                                the Californian wilderness.</p>
                        </div>
                        <time datetime="PT4M" class="card__read-time">
                            4 min read
                        </time>
                    </a>
                </article>
                <article class="grid__card-item">
                    <a href="/post/react-amsterdam-post" class="card">
                        <picture class="card__img-container">
                            <source type="image/jpeg" data-srcset="/assets/img/react-amsterdam@2x.jpg">
                            <source type="image/webp" data-srcset="/assets/img/react-amsterdam@2x.webp">
                            <source type="image/webp" data-srcset="/assets/img/react-amsterdam.webp">
                            <img class="card__img lazyload"
                                 data-src="/assets/img/react-amsterdam.jpg"
                                 alt="React Amsterdam Conference"
                                 height="160"
                                 width="360"/>
                        </picture>
                        <div class="card__content">
                            <time datetime="2019-09-05" class="card__date">12th April, 2019</time>
                            <h3 class="card__header">React Amsterdam Conference</h3>
                            <p class="card__text">Look up at the night sky, and find yourself
                                <strong>immersed</strong> in
                                the
                                amazing mountain range of Aspen. </p>

                        </div>
                        <time  datetime="PT4M" class="card__read-time">
                            4 min read
                        </time>
                    </a>
                </article>
                <article class="grid__card-item">
                    <a href="/post/pixel-pioneers-post" class="card">
                        <picture class="card__img-container">
                            <source type="image/jpeg" data-srcset="/assets/img/pixel-pioneers@2x.jpg">
                            <source type="image/webp" data-srcset="/assets/img/pixel-pioneers@2x.webp">
                            <source type="image/webp" data-srcset="/assets/img/pixel-pioneers.webp">
                            <img class="card__img lazyload"
                                 data-src="/assets/img/pixel-pioneers.jpg"
                                 alt="Pixel Pioneers"
                                 height="160"
                                 width="360"/>
                        </picture>
                        <div class="card__content">
                            <time datetime="2019-09-05" class="card__date">7th June, 2018</time>
                            <h3 class="card__header">Pixel Pioneers</h3>
                            <p class="card__text">Sunsets over the <strong>stunning</strong> Utah Canyonlands, is
                                truly
                                something much more than incredible.</p>
                        </div>
                        <time datetime="PT4M" class="card__read-time">
                            4 min read
                        </time>
                    </a>
                </article>
                <article class="grid__card-item">
                    <a href="/post/frontend-north-east-post" class="card">
                        <picture class="card__img-container">
                            <source type="image/jpeg" data-srcset="/assets/img/frontend-north-east@2x.jpg">
                            <source type="image/webp" data-srcset="/assets/img/frontend-north-east@2x.webp">
                            <source type="image/webp" data-srcset="/assets/img/frontend-north-east.webp">
                            <img class="card__img lazyload"
                                 data-src="/assets/img/frontend-north-east.jpg"
                                 alt="Frontend North East The Conference"
                                 height="160"
                                 width="360"/>
                        </picture>
                        <div class="card__content">
                            <time datetime="2019-09-05" class="card__date">5th April, 2018</time>
                            <h3 class="card__header">Frontend NE The Conference</h3>
                            <p class="card__text">Sunsets over the <strong>stunning</strong> Utah Canyonlands, is
                                truly
                                something much more than incredible.</p>
                        </div>
                        <time datetime="PT4M" class="card__read-time">
                            4 min read
                        </time>
                    </a>
                </article>
                <article class="grid__card-item">
                    <a href="/post/google-pwa-training-post" class="card">
                        <picture class="card__img-container">
                            <source type="image/jpeg" data-srcset="/assets/img/google-pwa-training@2x.jpg">
                            <source type="image/webp" data-srcset="/assets/img/google-pwa-training@2x.webp">
                            <source type="image/webp" data-srcset="/assets/img/google-pwa-training.webp">
                            <img class="card__img lazyload"
                                 data-src="/assets/img/google-pwa-training.jpg"
                                 alt="CSS Day 2019"
                                 height="160"
                                 width="360"/>
                        </picture>
                        <div class="card__content">
                            <time datetime="2019-09-05" class="card__date">2nd Mar, 2018</time>
                            <h3 class="card__header">Google PWA Roadshow:</h3>
                            <p class="card__text">Capture the stunning <strong>essence</strong> of the early morning
                                sunrise
                                in
                                the Californian wilderness.</p>
                        </div>
                        <time datetime="PT4M" class="card__read-time">
                            4 min read
                        </time>
                    </a>
                </article>
            </div>
            <div class="container">
                <div class="button__align--center">
                    <button class="button button--load-more">Load more</button>
                </div>
            </div>
        </div>
    </section>
</main>

<%- include("../partials/footer") %>
<script src="/assets/js/lazysizes.min.js" async></script>
</body>
</html>