*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: Roboto, sans-serif;
  font-size: 62.5%; // 1rem = 10px 10px/16px = 62.5%
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: $color-black;
  color: $color-white;

  @include respond(tab-port) {
    padding: 0;
  }
}

main {
  display: block;
  overflow: hidden;
}

h3 {
  margin-bottom: $base-spacing;
}
ul {
  margin-bottom: $base-spacing;
}