.button {
    display: inline-block;
    color: $color-white;
    font-size: 1.4rem;
    text-decoration: none;
    padding: $padding-small;
    border-radius: 3rem;
    transition: .2s background-color;
    cursor: pointer;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-2')) {
        font-size: 1.6rem;
        padding: $padding-small $padding-medium-1;
    }

    &:hover {

    }
}

.button__align--center {
    width: 100%;
    text-align: center;

}

.button--load-more {
    border-radius: 0;
    border: 0.5px solid $color-white;
    background-color: rgba($color-white, 0.1);
    height: 6rem;

    &:hover {
        background-color: rgba($color-black, 0.1);
        cursor: pointer;

    }
}

button {
    display: inline-block;
    color: #fff;
    font-size: 1.4rem;
    text-decoration: none;
    background-color: $color-primary-gold;
    padding: $padding-small;
    border-radius: 3rem;
    transition: .2s background-color;
    cursor: pointer;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-2')) {
        font-size: 1.6rem;
        padding: $padding-small $padding-medium-1;
    }

    &:hover {
        background-color: darken($color-primary-gold, 2%);
        cursor: pointer;
    }
}