/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
  url('../../assets/fonts/roboto-v20-latin-300.woff') format('woff');
  font-display: swap;
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
  url('../../assets/fonts/roboto-v20-latin-regular.woff') format('woff');
  font-display: swap;
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
  url('../../assets/fonts/roboto-v20-latin-500.woff') format('woff');
  font-display: swap;
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
  url('../../assets/fonts/roboto-v20-latin-700.woff') format('woff'); /* Modern Browsers */
  font-display: swap;
}
/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'),
  url('../../assets/fonts/roboto-v20-latin-900.woff') format('woff');
  font-display: swap;
}

/* Rockwell-700 - latin */
@font-face {
  font-family: 'Rockwell';
  font-style: normal;
  font-weight: bold;
  src: local('Rockwell'), local('Rockwell'),
  url('../../assets/fonts/rockwell-bold.woff') format('woff'); /* Modern Browsers */
}