@use "sass:map";
@use "../abstracts/variables" as *;
h1, h2 {
  font-family: 'Playfair Display', Georgia, serif;
  font-weight: 700;
}

h1 {font-size: $heading-1;}
h2 {font-size: $heading-2;}
h3 {font-size: $heading-3; font-family: 'Playfair Display', Georgia, serif;}
h4 {font-size: $heading-4;}

p {font-size: $body-text-main;}

li {font-size: $body-text-main;}

.para {
    li {
        font-size: $body-text-main;
        line-height: 1.5;
        &:not(:last-of-type) {
            margin-bottom: $base-spacing;
        }
    }
}
a {
    text-decoration: none;
    color: $color-cream;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    z-index: 1;
    font-size: 1.4rem;
    @media screen and (min-width: map.get($breakpoints, 'breakpoint-1')) {
        font-size: $nav-text-default;
    }

    &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        background-color: $color-amber;
        bottom: -4px;
        left: 0;
        transition: 0.3s ease all;
    }

    &:hover {
        position: relative;
        color: $color-amber;
    }

    &:hover:after {
        width: 100%;
        transition: 0.3s ease all;
    }
}
