@use "../abstracts/variables" as *;

.link--alt {
  a{
    color: $color-black;
    background-color: $color-white;
  }
}

/* Margin utilities */
.m-bottom-0 {
  margin-bottom: 0;
}

/* Padding utilities */
.p-top-3 {
  padding-top: 3rem;
}

.p-top-5 {
  padding-top: 5rem;
}

.p-top-6 {
  padding-top: 6rem;
}

.p-0 {
  padding: 0;
}

/* Display utilities */
.d-none {
  display: none;
}

.d-inline-flex {
  display: inline-flex;
}

/* Transform utilities */
.rotate-90 {
  transform: rotate(90deg);
}

.rotate-neg-90 {
  transform: rotate(-90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}
